/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
main
{
    margin-left: 30%;
    padding-left: 1%;
    height: auto;
    width: auto;
    position: fixed;

}
header
{
    background-image: url("banner.jpg");
    background-repeat: repeat-x;
    position: relative;
    width: 100%;
    height: 200px;
}
header img
{
    height: 200px;
}
.menu-bar
{
    margin: 0;
    padding: 0;
    position: fixed;
    border: solid black medium;
    width: 30%;
    height: 100%;
    background-color: blue;
}
.menu-bar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    font-family: times, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
.menu-bar ul ul
{
    display: none;
}
.menu-bar ul li:hover >ul
{
    display: block;
    float: none;
}
.menu-bar ul ul li
{
    float:none;
    position: relative;
    margin: 0;
}