<%= link_to 'auth/twitter','auth/twitter' %>

<form class="input-group col-lg-9 search-bar" action=<%= search_path %>>
  <input type="text" class="form-control" placeholder="Search for..." name="title">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Go!</button>
  </span>
</form>
